@model IEnumerable<jmannionBugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2> Tickets</h2>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.min.dataTables.css" />
<p>
    <button class="btn-xs btn-default">
        @Html.ActionLink("Create New", "Create")
        </button>
</p>
<table class="table" id="maintable">
    
        <thead>
            <tr>
        <th>
           @* @Html.DisplayNameFor(model => model.AssignedToUser.FirstName)*@
            <p>Assigned User</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.OwnerUser.FirstName)*@
            <p>Onwer</p>
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.Project.Name)*@
            <p>Project Name</p>
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.TicketPriority.Name)*@
            <p>Priority</p>
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.TicketStatus.Name)*@
            <p>Status</p>
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.TicketType.Name)*@
            <p>Ticket Type</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
       <th></th>
    </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            <button class="btn-xs btn-default">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </button> |
            <button class="btn-xs btn-default">
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                </button> |
            <button class="btn-xs btn-default">
                @Html.ActionLink("Close Ticket", "Delete", new { id = item.Id }) 
                </button> |
            <button class="btn-xs btn-default">
                @Html.ActionLink("Assign tickets", "AssignTicket", new { id = item.Id })
                </button> 
            @*<div class="btn-group">
                <button type="button" class="btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                    Add a Comment<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><button type="submit">@Html.ActionLink("View ", "Index", "TicketComments", new { ticketid = item.Id }, null)</button></li>
                    <li><button type="submit">@Html.ActionLink("Create", "Create", "TicketComments", new { ticketid = item.Id }, null)</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                     Add a Attachment<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><button type="submit">@Html.ActionLink("View ", "Index", "TicketAttach", new { ticketid = item.Id }, null)</button></li>
                    <li><button type="submit">@Html.ActionLink("Create", "Create", "TicketAttach", new { ticketid = item.Id }, null)</button></li>
                </ul>
            </div>*@
</td>
    </tr>
}

</table>
@section scripts{
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--DataTables-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

    <script>
           $('#maintable').dataTable();
    @*</script>
    <script>*@
       $(document).ready(function () {
           $('#multiList').multiselect();
       });
    </script>
}