@model jmannionBugTracker.Models.AssignToProjectVM
@{
    ViewBag.Title = "AssignToProject";
}
<h2>AssignToProject</h2>

                         
                          
                          @using (Html.BeginForm("AssignToProject", "Projects", FormMethod.Post))
                          {
                              @Html.AntiForgeryToken()
                              @Html.HiddenFor(model => model.Id)
                              <h3>Project Name:  @Model.ProjectName</h3>

                              <br />
                              <br />
                              @Html.ListBox("SelectedUsers", Model.userList)
                              <br />
                              <br />


                              <button type="submit" class="btn btn-primary">
                                  Submit
                              </button>
                              @*<button type="button" class="btn btn-primary button-left" onclick="goBack()">Back to Projects List</button>*@

                          }

        <button class="btn btn-default">
    @Html.ActionLink("Back To Projects List", "Index")
</button>